/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
    font-family: open sans;
    src: url(/assets/fonts/OpenSans-Light.ttf);
    font-weight: normal;
}
@font-face {
    font-family: open sans;
    src: url(/assets/fonts/OpenSans-Light.ttf);
    font-weight: 100;
}
@font-face {
    font-family: open sans;
    src: url(/assets/fonts/OpenSans-Light.ttf);
    font-weight: 200;
}
@font-face {
    font-family: open sans;
    src: url(/assets/fonts/OpenSans-Regular.ttf);
    font-weight: 300;
}
@font-face {
    font-family: open sans;
    src: url(/assets/fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}
body {
	background-color: #2f4050;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #676a6c;
}

h1, h2, h3, h4, h5, h6 {
font-weight: 100;
}

.page-wrapper {
position: inherit;
margin: 0 0 0 220px;
min-height: 1100px;
padding: 0 15px;
}
.btn-default {
  background-color: #c2c2c2;
  border-color: #c2c2c2;
  color: #FFFFFF;
}
.label {
background-color: #d1dade;
color: #5e5e5e;
font-size: 10px;
font-weight: 600;
padding: 3px 8px;
text-shadow: none;
}

.btn-primary,
.label-primary,
.badge-primary {
  background-color: #1c84c6;
  border-color: #1c84c6;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-color: #18a689;
  border-color: #18a689;
  color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: #FFFFFF;
}
.btn-success,
.label-success,
.badge-success {
  background-color: #1ab394;
  color: #FFFFFF;
}
.btn-white {
    background-color: #FFFFFF;
    color: #000;
    height: 80px;
    width: 80px;
}
.btn-yellow {
    background-color: #FFF500;
    color: #000;
    height: 80px;
    width: 80px;
}
.btn-green {
    background-color: #02CA00;
    color: #FFFFFF;
    height: 80px;
    width: 80px;
}
.btn-brown {
    background-color: #B56415;
    color: #FFFFFF;
    height: 80px;
    width: 80px;
}
.btn-blue {
    background-color: #0097FF;
    color: #FFFFFF;
    height: 80px;
    width: 80px;
}
.btn-pink {
    background-color: #FF97FF;
    color: #FFFFFF;
    height: 80px;
    width: 80px;
}
.btn-black {
    background-color: #000;
    color: #FFFFFF;
    height: 80px;
    width: 80px;
}
.btn-red {
    background-color: #FF0000;
    color: #FFFFFF;
    height: 80px;
    width: 80px;
}
.btn {
border-radius: 3px;
}

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
box-shadow: none;
}

.small {
  width: auto;
  padding: 0px;
  padding-left:4px;
  height: 30px;
}

.gray-bg {
background-color: #f3f3f4;
}
.white-bg {
background-color: #ffffff;
}
.hr-line-dashed {
border-top: 2px dashed #e7eaec;
color: #ffffff;
background-color: #ffffff;
height: 1px;
margin: 20px 0;
}

.butFail{
  background-color:#FF6E60;
}
.butSucc {
  background-color:#02CA00;
}
.has-success .form-control {
  border-color: #1ab394;
}
.has-warning .form-control {
  border-color: #f8ac59;
}
input.has-error {
  border-color: #ed5565;
}
.error-msg {
  color: #ed5565;
}
.green {
  color: #18a689;
}
.red {
  color: #ed5565;
}
.table-hover > tbody > tr.btn-primary:hover > td {
background-color: #18a689;
}

/* CHOSEN PLUGIN */
.chosen-container-single .chosen-single {
  background: #ffffff;
  box-shadow: none;
  -moz-box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #CBD5DD;
  border-radius: 2px;
  cursor: text;
  height: auto !important;
  margin: 0;
  min-height: 30px;
  overflow: hidden;
  padding: 4px 12px;
  position: relative;
  width: 100%;
}
.chosen-container-multi .chosen-choices li.search-choice {
  background: #f1f1f1;
  border: 1px solid #ededed;
  border-radius: 2px;
  box-shadow: none;
  color: #333333;
  cursor: default;
  line-height: 13px;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  position: relative;
}
.chosen-container-multi .chosen-choices {
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #CBD5DD;
    border-radius: 2px;
    cursor: text;
    height: auto !important;
    margin: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    width: 100%;
}

.label-info, .badge-info, .btn-info, .btn-info:hover {
background-color: #23c6c8;
color: #FFFFFF;
}

.label-danger,
.badge-danger,
.btn-danger {
  background-color: #ed5565;
  color: #FFFFFF;
}
.nomargin {
  margin: 0px;
}

.mstlogo {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.position-fixed {
  position: fixed;
}

.GreenFlag,.GreenFlag:hover>td {
     background: #23c459; /* Old browsers */
background: -moz-linear-gradient(top,  #23c459 0, #23c459 49%, #17b553 51%, #17b553 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#23c459), color-stop(49%,#23c459), color-stop(51%,#17b553), color-stop(100%,#17b553)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #23c459 0,#23c459 49%,#17b553 51%,#17b553 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #23c459 0,#23c459 49%,#17b553 51%,#17b553 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #23c459 0,#23c459 49%,#17b553 51%,#17b553 100%); /* IE10+ */
background: linear-gradient(to bottom,  #23c459 0,#23c459 49%,#17b553 51%,#17b553 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23c459', endColorstr='#17b553',GradientType=0 ); /* IE6-9 */

    color: #fff;
}

.RedFlag,.RedFlag:hover>td {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.chequeredFlag,.chequeredFlag:hover>td{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #4d5056;
background: -moz-linear-gradient(top,#4d5056 0,#292c33 49%,#111215 51%,#0a0b0c 100%)!important;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#4d5056),color-stop(49%,#292c33),color-stop(51%,#111215),color-stop(100%,#0a0b0c))!important;
background: -webkit-linear-gradient(top,#4d5056 0,#292c33 49%,#111215 51%,#0a0b0c 100%)!important;
background: -o-linear-gradient(top,#4d5056 0,#292c33 49%,#111215 51%,#0a0b0c 100%)!important;
background: -ms-linear-gradient(top,#4d5056 0,#292c33 49%,#111215 51%,#0a0b0c 100%)!important;
background: linear-gradient(top,#4d5056 0,#292c33 49%,#111215 51%,#0a0b0c 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d5056',endColorstr='#0a0b0c',GradientType=0);
}
.wrapper-content {
padding: 20px 10px 40px;
}
.breadcrumb {
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 0;
}
.breadcrumb > li a {
  color: inherit;
}
.breadcrumb > .active {
  color: inherit;
}
.page-heading {
  border-top: 4px solid #e7eaec;
  padding: 0px 10px 20px 10px;
}
.title-action {
  text-align: right;
  padding-top: 30px;
}

a {
  cursor: pointer;
}
.ibox {
clear: both;
margin-bottom: 25px;
margin-top: 0;
padding: 0;
}
.ibox-title {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background-color: #ffffff;
border-color: #e7eaec;
border-image: none;
border-style: solid solid none;
border-width: 4px 0px 0;
color: inherit;
margin-bottom: 0;
padding: 14px 15px 7px;
height: 48px;
}
.ibox-title h5 {
display: inline-block;
font-size: 14px;
margin: 0 0 7px;
padding: 0;
text-overflow: ellipsis;
float: left;
}
.ibox-content {
clear: both;
}
.ibox-content {
background-color: #ffffff;
color: inherit;
padding: 15px 20px 20px 20px;
border-color: #e7eaec;
border-image: none;
border-style: solid solid none;
border-width: 1px 0px;
}
.select-title {
  text-align: center;
  background-color:#888;
  border-bottom: solid 2px #ccc;
  color:#FFF;
}
.recorder-area {
  background-color:#6A8BAB;
}
.white-txt {
  color:#FFF;
}
.substitution-form {
  height:150px;
}
.ng-dirty.ng-invalid {
  border-color: red;
}
.ng-dirty.ng-valid {
  border-color: green;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.match-left {
  background-color:#CDCDCD;
}
.match-right {
  background-color:#D4DDDD;  
}
.tbl-input {
  height:30px!important;
}
.edit-col {
  width:15%;
}
#edit-player-modal .modal-body {
  height:230px;
}
.op-team-details {
  margin:0 0 20px 0;
}
.display-pair {
  height: 240px;
}
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}
.match-events {
  overflow-y:scroll;
  height: 500px;
}
.key-col {
  background-color:#00ff01;
}
.preview-box {
  width:100%;
  height: 300px;
  overflow: hidden;
}
/* LOWER */
.lower {
  width:90%;
  height:84px;
  margin:190px auto;
  color:#FFF;
  background-image:url('../GFX/Scorestrap.png');
  background-size: 100%;
  background-repeat: no-repeat;
  color:#FFF;
  line-height: 84px;
  text-align: center;
}
.lower > .team {
  width:45%;
  float: left;
  height: 84px;
}
.lower > .scores {
  width:10%;
  float: left;
  height: 84px;
}
.m-event-row {
  margin:0 0 2px 0;
  line-height: 52px;
  height: 52px;
}
.op-clock {
  margin: 0 0 5px 0;
}
.centre {
  text-align: center;
}
.player-box-grid {
  width: 100%;
  margin: 2px auto 5px auto;
}
.player-box-grid li {
  list-style: none;
  width:12.5%;
  font-size:12px;
  float: left;
  text-align: center;
  height: 100px;
  padding: 8px;
  border: solid 1px #FFF;
  background-color: #f9f9f9;
}
.player-box-grid li strong {
  width:100%;
  height: 50px;
}
.player-box-grid li:hover {
  border: solid 1px #f9f9f9;
  background-color: #1c84c6;
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.team-a-row td {
  background-color:#f9f9f9;
  border-bottom:solid 2px #717171;
}
.team-b-row td {
  background-color:#717171;
  border-bottom:solid 2px #f9f9f9;
  color:#FFF;
}
.timeline-head {
  background-color:#CCC;
  border-bottom:solid 2px #717171;
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.time-h-btn {
  width: 10%;
}
.time-h-action {
  width: 20%;
}
.time-h-time {
  width: 10%;
}
.time-h-team {
  width: 10%;
}
.time-h-player {
  width: 50%;
}
.pen-reasons {
  margin: 0 0 9px 0;
}
.pen-reasons span {
  margin: 0 0 2px 0;
}

.score-ticker {
  margin:10px 0 0 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.ticker-data {
  background-image:url('../GFX/ticker.png');
  background-repeat: no-repeat;
  background-size:100%;
  width:300px;
  height:38px;
  color:#FFF;
  font-size:17px;
  float: left;
}
.match-score {
  width:220px;
  float: left;
}
.tick-team {
  width:75px;
  float: left;
  height:38px;
  line-height: 38px;
  text-align: center;
  font-size:17px;
  font-weight: bold;
}
.team-scores {
  width:70px;
  float: left;
  text-align: center;
  font-size:17px;
  font-weight: bold;
  height:38px;
  line-height: 38px;
}
.match-timer {
  width: 75px;
  text-align: left;
  float: left;
  font-size:17px;
  font-weight: bold;
  height:38px;
  line-height: 38px;
  margin: 0 0 0 5px;
  text-align: center;
}
.score-ticker-dropdown-wrap {
  width:100%;
  height: 20px;
  background-color:#000;
  color:#FFF;
}
.tick-right-update {
  width:70px;
  background-color: #FFF;
  color: #000;
  float: left;
}